<div
  *ngIf="
    listaVazia; 
    then displayListaLivrosVazia; 
    else displayListaLivros
    "
></div>

<ng-template #displayListaLivros>
  
  <mat-toolbar color="secondary" style="justify-content: center;">
    <h2>Listar Livros</h2>
  </mat-toolbar>
  
  <table mat-table [dataSource]="listaLivros" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

    <!-- titulo Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let livro">{{ livro.titulo }}</td>
    </ng-container>

    <!-- editora Column -->
    <ng-container matColumnDef="editora">
      <th mat-header-cell *matHeaderCellDef>Editora</th>
      <td mat-cell *matCellDef="let livro">{{ livro.editora }}</td>
    </ng-container>

    <!-- autores Column -->
    <ng-container matColumnDef="autores">
      <th mat-header-cell *matHeaderCellDef>Autores</th>
      <td mat-cell *matCellDef="let livro">{{ livro.autores }}</td>
    </ng-container>

    <!--  Column -->
    <ng-container matColumnDef="id_funcionario">
      <th mat-header-cell *matHeaderCellDef>Funcionario responsável</th>
      <td mat-cell *matCellDef="let livro">
        {{ livro.id_funcionario }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>

<ng-template #displayListaLivrosVazia>
  <h2>Nenhum livro encontrado</h2>
</ng-template>
