<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('cadastrarFuncionarios'); sidenav.toggle()"
      >
        Cadastrar Funcionarios
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('listarFuncionarios'); sidenav.toggle()"
      >
        Listar Funcionarios
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('cadastrarLivros'); sidenav.toggle()"
      >
        Cadastrar Livros
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('listarLivros'); sidenav.toggle()"
      >
        Listar Livros
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
      color="primary"
      mat-raised-button
      (click)="mudarComponente('cadastrarExemplares'); sidenav.toggle()"
      >
      Cadastrar Exemplares
      <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Funcionarios</h1>
    </mat-toolbar>

    <app-cadastar-funcionarios
      *ngIf="window == 'cadastrarFuncionarios'"
    ></app-cadastar-funcionarios>

    <app-listar-funcionarios
      *ngIf="window == 'listarFuncionarios'"
    ></app-listar-funcionarios>

    <app-cadastrar-livros
      *ngIf="window == 'cadastrarLivros'"
    ></app-cadastrar-livros>

    <app-listar-livros *ngIf="window == 'listarLivros'"></app-listar-livros>
    
    <app-cadastrar-exemplares
      *ngIf="window == 'cadastrarExemplares'"
    ></app-cadastrar-exemplares>
    
  </mat-sidenav-content>
</mat-sidenav-container>
