<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('cadastrarFuncionario'); sidenav.toggle()"
      >
        Cadastrar Funcionarios
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('listarFuncionario'); sidenav.toggle()"
      >
        Listar Funcionarios
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('cadastrarLivro'); sidenav.toggle()"
      >
        Cadastrar Livros
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>

    <mat-card class="card-sidenav-btn">
      <button
        color="primary"
        mat-raised-button
        (click)="mudarComponente('listarLivro'); sidenav.toggle()"
      >
        Listar Livros
        <mat-icon>assignment-icon</mat-icon>
      </button>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Funcionarios</h1>
    </mat-toolbar>

    <app-cadastar-funcionarios
      *ngIf="window == 'cadastrarFuncionario'"
    ></app-cadastar-funcionarios>

    <app-listar-funcionarios
      *ngIf="window == 'listarFuncionario'"
    ></app-listar-funcionarios>

    <app-cadastrar-livros
      *ngIf="window == 'cadastrarLivro'"
    ></app-cadastrar-livros>

    <app-listar-livros *ngIf="window == 'listarLivro'"></app-listar-livros>
  </mat-sidenav-content>
</mat-sidenav-container>
